.T_1{
   
    display: flex;
    justify-content: center;
}
/* .T_2{
    border: 4px solid rgb(139, 31, 31);
} */
.main_h1{
    color: #2d2f31;
}
.main_h3{
    color: #2d2f31;
    margin-top: 3.5rem;
}
.all_Span{
 
    margin-top:2rem;
    margin-bottom: 0.5rem;
}
.all_Span >span{
   font-weight: 800;
   color: gray;
   margin-right: 1rem;
}
.all_Span> span:hover{
    color: black;
}
.middle{
   
    height:300px;
}
.show_data_1{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}
.m_1{
   border-top: 2px solid gray;
   border-bottom:  2px solid gray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.m_Icons{
   
    background-color: rgb(196, 196, 196);
    border-radius: 50%;
    font-size: 2rem;


}
.m_description{
  
    font-weight: 800;
    width: 20rem;
   
}
.m_2{
   
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}
.populer_Topics_Parent{
   
    display: flex;
    justify-content: space-around;
}

/* .populer_Topics_Child{
    border: 3px solid rgb(43, 0, 255);
} */
/* .populer_Topics_p{
    border: 2px solid black;
} */

.all_Courses_Parent{
   
    margin-top: 3.7rem;
}
.all_Courses_subParent{
   
    padding-left: 80px;
}
.all_courses_Child1{
    border: 1px solid rgb(169, 167, 167);
    display: flex;
    gap: 15px;
    align-items: center;
    height: 65px;
}
.all_courses_Child2{
   
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.all_courses_subChild1{
    border: 1px solid black;
    display: flex;
    gap: 12px;
    align-items: center;
    width: 5rem;
    padding: 14px 0px;
    padding-left: 10px;
    font-weight: 900;
    color:black;
   
}
.all_courses_subChild2{
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    line-height: 30px;
    width: 10rem;
}
.all_courses_Child1_Description{
    font-weight: 800;
}
.lower_Parent{
   
    display: flex;
    justify-content: center;
}
.lower_Parent_child{
    
    display: flex;
   
   
}
.lower_Parent_left{
  
    width: 25rem;
}
.lower_Parent_Right{
   
    width:95%;
}
.lower_Middle{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11rem; 
}
.businessTitle{
    font-weight: 900;
    font-size: 14px;
    color:#252525;
    padding-bottom:2px;
   
  
}

.lower_Middle_Img_Des{
    display:flex;
    gap:20px;
}
.lower_Parent_left_Child{
    line-height: 35px;
    border-bottom: 1px solid rgb(205, 204, 204);
   
  
}
.populerTopics_Parent{
   
    display: flex;
    justify-content:center;
  
}
.populerTopics_Subparent{
      
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        justify-content: center;
        width:90%;
}
.populerTopics_Child{
    border: 1px solid gray;
    width:15rem;
    height: 3.6rem;
    display: flex;
    color: #252525;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}
.teachers_Parent{
   
    display: flex;
    justify-content: center;
}
.teachers_Des{
    width:80%;
}
.teachers_SubParent{
   
    display: flex;
    width: 90%;
    gap: 1rem;
    justify-content: space-around;
}
.teachers_Child{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    gap:2rem;
    align-items: center;
}